.about {
    padding: 150px 0;
    background: url('../images/main/logo-bg.png') bottom right no-repeat;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        margin-bottom: 50px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $dark;
        margin-bottom: 55px;
    }

    &__btn {
        display: inline-block;
        text-align: center;
        background-color: #140e1c;
        color: #ffffff;
        padding: 20px 30px;
        min-width: 260px;
        transition: .3s ease;
        &:hover {
            box-shadow: 0.743px 0.669px 18px 2px rgba(116, 116, 116, 0.58);
        }
    }

    &__images {
        position: relative;
        margin-right: 65px;
    }

    
    &__img {
        img {
            max-width: 480px;
        }
    }
    

    &__img-back {
        position: absolute;
        left: -170px;
        bottom: -80px;
        z-index: -1;
    }

}
