*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    @include font('sf');
    font-size: 20px;
    color: #ffffff;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    padding: 0;
    margin: 0;
}
// Input number fix

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.title {
    @include font('oswald-semibold');
    position: relative;
    font-size: 42px;
    line-height: 60px;
    color: #000000;
    padding-bottom: 45px;
    margin-bottom: 40px;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        width: 145px;
        height: 4px;
        background-color: #000000;
        bottom: 0;
    }
}

.title--white {
    color: #ffffff;
    &::after {
        background-color: #ffffff;
    }
}

.btn {
    @include font('sf-medium');
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    background-color: $accent;
    color: #ffffff;
    transition: .3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0.743px 0.669px 18px 2px rgba(116, 116, 116, 0.58);
    }
}

.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 35px;

    &__list {
        display: flex;
        align-items: center;
        @include font('sf-light');
        font-size: 14px;
        color: #3b3b3b;
    }

    &__item {
        margin-right: 5px;
    }
}

.pagination {

    @include font('sf-light');
    font-size: 14px;
    color: #aeaeae;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        transition: .3s ease;

        &:hover {
            color: $accent;
        }

        &.active {
            color: $accent;
        }
    }

    &__prev,
    &__next {
        position: relative;
        padding-bottom: 2px;
        &::before {
            position: absolute;
            content: "";
            background-color: #aeaeae;
            height: 1px;
            width: 100%;
            left: 0;
            bottom: 0;
        }

        &:hover {
            &::before {
                background-color: $accent;
            }
        }
    }

    &__numbers {
        display: flex;

        .pagination__item {
            margin-left: 7px;
            &:first-child {
                margin-left: 0;
            }
        }
    }

}


