extends ../templates/main.pug

block title
    title Главная - АльянсХаус

block content
    section.about
        .container
            .about__inner
                .about__images
                    .about__img-back
                        picture
                            source(srcset="images/main/about-1-back.webp", type="image/webp")
                            img(src="images/main/about-1-back.jpg", alt="О нашем агенстве")
                    .about__img
                        picture
                            source(srcset="images/main/about-1.webp", type="image/webp")
                            img(src="images/main/about-1.jpg", alt="О нашем агенстве", width="480")
                .about__content
                    h2.about__title.title О нашем агенстве
                    .about__text
                        p Аренда недвижимости: жилая, загородная, коммерческая, Другие услуги: дизайн интерьера, консультации, нотариат, ремонт, страхование, строительство, управление объектами, Ипотечное кредитование: ипотека, рефинансирование, Продажа недвижимости: жилая, загородная, коммерческая
                    a.about__btn(href="#") О компании
    section.why
        .container
            .why__inner
                h3.why__title.title.title--white Почему стоит работать с нами
                ul.why__list
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/apartment.png", alt="Доступно")
                            | Доступно
                        .why__box
                            .why__box-img
                                img(src="images/icons/apartment-black.png", alt="Доступно")
                            .why__box-title 1. Доступно
                            .why__box-text
                                p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/house.png", alt="Большой выбор")
                            | Большой выбор
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 2. Большой выбор
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/security.png", alt="Безопасно")
                            | Безопасно
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 3. Безопасно
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/user.png", alt="Качественно")
                            | Качественно
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 4. Качественно
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
    section.team
        .container
            .team__inner
                h3.team__title Команда с общими ценностями
                .team__content
                    .team__box
                        img(src="images/team/team-1.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-2.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box.team__box--double
                        .team__about 
                            span 6
                            | человек работает в нашем агентстве
                    .team__box
                        img(src="images/team/team-3.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-4.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-3.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-1.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
    section.works
        .container
            .works__inner
                h4.works__title Наши работы
                .swiper-container.works__slider
                    .works__content.swiper-wrapper
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                    .swiper-pagination
