extends ../templates/main.pug

block title
    title Главная - АльянсХаус

block content
    section.about
        .container
            .about__inner
                .about__images
                    .about__img-back
                        picture
                            source(srcset="images/main/about-1-back.webp", type="image/webp")
                            img(src="images/main/about-1-back.jpg", alt="О нашем агенстве")
                    .about__img
                        picture
                            source(srcset="images/main/about-1.webp", type="image/webp")
                            img(src="images/main/about-1.jpg", alt="О нашем агенстве", width="480")
                .about__content
                    h2.about__title.title О нашем агенстве
                    .about__text
                        p Аренда недвижимости: жилая, загородная, коммерческая, Другие услуги: дизайн интерьера, консультации, нотариат, ремонт, страхование, строительство, управление объектами, Ипотечное кредитование: ипотека, рефинансирование, Продажа недвижимости: жилая, загородная, коммерческая
                    a.about__btn(href="#") О компании
    section.why
        .container
            .why__inner
                h3.why__title.title.title--white Почему стоит работать с нами
                ul.why__list
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/apartment.png", alt="Доступно")
                            | Доступно
                        .why__box
                            .why__box-img
                                img(src="images/icons/apartment-black.png", alt="Доступно")
                            .why__box-title 1. Доступно
                            .why__box-text
                                p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/house.png", alt="Большой выбор")
                            | Большой выбор
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 2. Большой выбор
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/security.png", alt="Безопасно")
                            | Безопасно
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 3. Безопасно
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
                    li.why__item
                        a.why__link(href="#")
                            img(src="images/icons/user.png", alt="Качественно")
                            | Качественно
                            .why__box
                                .why__box-img
                                    img(src="images/icons/apartment-black.png", alt="Доступно")
                                .why__box-title 4. Качественно
                                .why__box-text
                                    p Возможность получить ипотеку без офиц. трудоустройства и первоначального взноса.
    section.team
        .container
            .team__inner
                h3.team__title Команда с общими ценностями
                .team__content
                    .team__box
                        img(src="images/team/team-1.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-2.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box.team__box--double
                        .team__about 
                            span 6
                            | человек работает в нашем агентстве
                    .team__box
                        img(src="images/team/team-3.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-4.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-3.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
                    .team__box
                        img(src="images/team/team-1.jpg", alt="Ахмет Каримов").team__img
                        .team__info
                            .team__name Ахмет Каримов
                            .team__post Руководитель
    section.works
        .container
            .works__inner
                h4.works__title Наши работы
                .swiper-container.works__slider
                    .works__content.swiper-wrapper
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-1-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-1.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-2-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-2.jpg", alt="Наши работы")
                        .works__item.swiper-slide
                            a(href="images/works/works-3-full.jpg", data-fancybox="gallery")
                                img(src="images/works/works-3.jpg", alt="Наши работы")
                    .swiper-pagination
                a(href="#").works__link.works__slider-link Смотреть все
            .works__reviews.reviews
                .reviews__slider.swiper-container
                    .reviews__slider-wrapper.swiper-wrapper
                        .reviews__item.swiper-slide
                            img(src="images/works/reviews-1.jpg", alt="Недвижимость").reviews__img
                            .reviews__item-content
                                .reviews__head
                                    img(src="images/works/reviews-avatar-1.jpg", alt="Ирина Потапова").reviews__avatar
                                    .reviews__head-content
                                        .reviews__name Ирина Потапова
                                        time(datetime="24.06.2012").reviews__date 24.06.2012
                                .reviews__comment
                                    p Аренда недвижимости: жилая, загородная, коммерческая, Другие услуги: дизайн интерьера, консультации, нотариат, ремонт, страхование, строительство, управление.
                .reviews__info
                    h4.reviews__title.title.title--white Отзывы о нас
                    .reviews__text
                        p Читайте отзывы наших клиентов, чтобы удостровериться в нашем профессионализме.
                    .reviews__foot
                        .reviews__nav
                            button.slider-prev
                            button.slider-next
                        a(href="#").works__link.reviews__link Смотреть все
    section.contacts
        .contacts__map
            iframe(src="https://snazzymaps.com/embed/266328" width="985" height="680" style="border:none;")
            .contacts__map-box
                .contacts__map-item
                    .contacts__map-title Адрес:
                    .contacts__map-subtitle г. Казань, ул. Закиева, д.4, оф.5
                .contacts__map-item
                    .contacts__map-title Контактные телефоны:
                    a(href="tel:8 (843) 248 43-15").contacts__map-subtitle 8 (843) 248 43-15
                    a(href="tel:8 (843) 225 15-14").contacts__map-subtitle 8 (843) 225 15-14
                .contacts__map-item
                    .contacts__map-title E-mail:
                    a(href="malto:alliance-house@yandex.ru").contacts__map-subtitle alliance-house@yandex.ru
        .contacts__content
            h4.contacts__title Контакты
            .contacts__form
                form(action="#")
                    input(type="text" placeholder="Ваше имя*").contacts__input
                    input(type="text" placeholder="Ваш телефон*").contacts__input
                    textarea(placeholder="Сообщение").contacts__input
                    label.contacts__checkbox.checkbox-container
                        input(type="checkbox", name="contactsCheckbox") 
                        | Оставляя заявку, я соглашаюсь с 
                        span.contacts__checkbox-under-text правилами конфиденциальности
                        span.checkmark
                    button(type="submit").contacts__btn.btn Оставить заявку
