extends ../templates/page.pug

block title
    title Акции - Альянс Хаус

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="promotions.html").breadcrumbs__link / Акции 
    section.promotions
        .container
            h1.promotions__title Акции
            .promotions__content
                .promotions__item
                    .promotions__item-thumb
                        a(href="#").promotions__thumb-title Квартира в Санкт‑Петербурге в&nbsp;подарок!
                        .promotions__thumb-subtitle Розыгрыш проходит до 15.09.2020
                    a(href="#").promotions__item-title Квартира в Санкт‑Петербурге в подарок!
                    .promotions__item-text Друзья! Розыгрыш состоится 15 сентября 2021 года. Все, кто купил, продал, сдал или снял недвижимость с компанией с 25 января 2020 по 29 января 2021 года, получит шанс выиграть квартиру в северной столице или один из ценных призов.
                .promotions__item
                    .promotions__item-thumb
                        a(href="#").promotions__thumb-title Квартира в Санкт‑Петербурге в&nbsp;подарок!
                        .promotions__thumb-subtitle Розыгрыш проходит до 15.09.2020
                    a(href="#").promotions__item-title Квартира в Санкт‑Петербурге в подарок!
                    .promotions__item-text Друзья! Розыгрыш состоится 15 сентября 2021 года. Все, кто купил, продал, сдал или снял недвижимость с компанией с 25 января 2020 по 29 января 2021 года, получит шанс выиграть квартиру в северной столице или один из ценных призов.
                .promotions__item
                    .promotions__item-thumb
                        a(href="#").promotions__thumb-title Квартира в Санкт‑Петербурге в&nbsp;подарок!
                        .promotions__thumb-subtitle Розыгрыш проходит до 15.09.2020
                    a(href="#").promotions__item-title Квартира в Санкт‑Петербурге в подарок!
                    .promotions__item-text Друзья! Розыгрыш состоится 15 сентября 2021 года. Все, кто купил, продал, сдал или снял недвижимость с компанией с 25 января 2020 по 29 января 2021 года, получит шанс выиграть квартиру в северной столице или один из ценных призов.
                .promotions__item
                    .promotions__item-thumb
                        a(href="#").promotions__thumb-title Квартира в Санкт‑Петербурге в&nbsp;подарок!
                        .promotions__thumb-subtitle Розыгрыш проходит до 15.09.2020
                    a(href="#").promotions__item-title Квартира в Санкт‑Петербурге в подарок!
                    .promotions__item-text Друзья! Розыгрыш состоится 15 сентября 2021 года. Все, кто купил, продал, сдал или снял недвижимость с компанией с 25 января 2020 по 29 января 2021 года, получит шанс выиграть квартиру в северной столице или один из ценных призов.
