extends ../templates/page.pug

block title
    title Вопрос-ответ - Альянс Хаус

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="questions.html").breadcrumbs__link / Вопрос-ответ
    section.questions
        .container
            h1.questions__title Вопрос-ответ
            .questions__content
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.
                .questions__item
                    span Сколько стоит купить квартиру?
                    .questions__answer
                        p Очень часто встречаются недобросовестные подрядчики, они увеличивают в процессе монтажа стоимость работ или придумывают дополнительные работы.
                        p Мы смонтируем систему за сумму, прописанную в договоре.

