footer.footer
    nav.footer__navigation.footer-navigation
        .container
            ul.footer-navigation__list
                li.footer-navigation__item
                    a(href="#").footer-navigation__link О компании
                li.footer-navigation__item
                    a(href="#").footer-navigation__link Услуги
                li.footer-navigation__item
                    a(href="promotions.html").footer-navigation__link Акции
                li.footer-navigation__item
                    a(href="reviews.html").footer-navigation__link Отзывы
                li.footer-navigation__item
                    a(href="#").footer-navigation__link Новости
                li.footer-navigation__item
                    a(href="#").footer-navigation__link Статьи
                li.footer-navigation__item
                    a(href="#").footer-navigation__link Контакты
    .footer__main
        .container
            .footer__main-inner
                .footer__col
                    a(href="#").footer__logo.logo
                        img(src="images/logo.png", alt="Альянс Хаус", width="140")
                    .footer__address
                        span 398040, г. Казань
                        | ул. Закиева, д.4, оф.5
                .footer__col
                    .footer__socials.socials
                        ul.socials__list
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/youtube.png", alt="Youtube")
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/fb.png", alt="Facebook")
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/vk.png", alt="Вконтакте")
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/insta.png", alt="Instagram")
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/twitter.png", alt="Twitter")
                            li.socials__item
                                a(href="#").socials__link
                                    img(src="images/icons/ok.png", alt="Одноклассники")
                .footer__col
                    .footer__contacts
                        .footer__item
                            span Телефон
                            a(href="tel:8(843)2484315") 8 (843) 248 43-15
                        .footer__item
                            span Факс
                            a(href="tel:8(843)2251514") 8 (843) 225 15-14
                        .footer__item
                            span E-mail
                            a(href="mailto:alliance-house@yandex.ru") alliance-house@yandex.ru
    .container
        .footer__copy
            .footer__copy-item 
                | &copy; ООО «Альтранс Хаус», 2020
            a(href="#").footer__copy-item.footer__copy-item--underline
                | Политика конфиденциальности
            .footer__copy-item
                | Разработка сайта 
                img(src="images/grampus-logo.png", alt="Grampus")