header.header
    .header__inner
        .container
            .header__top
                a.header__logo.logo(href="index.html")
                    img(src="images/logo-white.png", alt="Альянс хаус - агенство недвижимости", width="140")
                .header__links
                    a.header__link(href="tel:8(931)5010220") 8 (931) 501-02-20
                    a.header__link(href="tel:8(931)5010220") 8 (931) 501-02-20
                button.header__btn.modal-open-btn(data-src="#request-modal" data-fancybox)  Заказать звонок
        nav.header__navigation.navigation
            .container
                .navigation__inner
                    span
                    ul.navigation__list
                        li.navigation__item
                            a.navigation__link(href="services.html") Услуги
                        li.navigation__item
                            a.navigation__link(href="about.html") О компании
                        li.navigation__item
                            a.navigation__link(href="promotions.html") Акции
                        li.navigation__item
                            a.navigation__link(href="reviews.html") Отзывы
                        li.navigation__item
                            a.navigation__link(href="projects.html") Выполненные работы
                        li.navigation__item
                            a.navigation__link(href="questions.html") Вопрос-ответ
                        li.navigation__item
                            a.navigation__link(href="contacts.html") Контакты
                    button.menu-btn
                        span