<!DOCTYPE html>
html(lang="ru")
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Main
        block styles
            link(href="css/libs.min.css" rel="stylesheet")
            link(href="css/style.css" rel="stylesheet")
            link(rel="shortcut icon", href="images/favicon/favicon.ico", type="image/x-icon")
            link(rel="shortcut icon" type="image/png" href="images/favicon/favicon-32x32.png")

    body
        block header
            include ../includes/header
        block content
        block footer
            include ../includes/footer
        block scripts
            script(src="js/libs.js")
            script(src="js/plugins.js")
            script(src="js/main.js")